{:kotoba.app/id "cloud.itonami.isic-3520", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidngz37mkrmfjn3jier35v7a3z6b4tnqxsytsefkmsh6lzb34fbmy", :kotoba.app/embed-url "ipfs://bafkreidngz37mkrmfjn3jier35v7a3z6b4tnqxsytsefkmsh6lzb34fbmy", :published {:archive "https://kotobase.net/ipfs/bafkreidngz37mkrmfjn3jier35v7a3z6b4tnqxsytsefkmsh6lzb34fbmy", :size 72486, :put-status 201, :get-status 200, :at "2026-08-15T13:46:52.637Z"}}
